<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
</head>
<body>
<h1>用户登录</h1>
<form method="post" th:action="@{/doLogin}">
    用户名 : <input name="uname" type="text"> <br>
    密码: <input name="passwd" type="text"> <br>
    <!--value 可选值默认为: true  yes  on  1 都可以-->
    记住我: <input name="remember-me" type="checkbox" value="true"> <br>
    <input type="submit" value="登录">
</form>
<h3>
    <div th:text="${session.SPRING_SECURITY_LAST_EXCEPTION}"></div>
</h3>
</body>
</html>